<!-- a create page for bookings (will be redirected here after buyer pressed "buy" on /items/show.html.erb -->

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= simple_form_for [@item, @booking] do |f| %>
        <%= f.input :date %>
        <%#= f.association :ingredient, as: :select %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
