

<% @items.each do |item| %>
      <div class="col-xs-12 col-sm-12 <%= @items.count == 1 ? "col-md-12 col-lg-12" : "col-md-6 col-lg-4" %>">

          <div class="card">
            <%= item_image_tag_or_default(item) %>
          <div class="card-description">
              <h3><%= item.name.capitalize %></h3>
              <p>Super fresh and yummy</p>
              <p>34 USD</p>
          </div>
              <%= link_to "Show me more", item_path(item), class: "btn-treehouse" %>
          </div>
      </div>
<% end %>

