

.content {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 50px;
}

.dynamic-map {
  margin-left: 50px;
  flex: 0 0 800px;
  height: 90vh;
  position: sticky !important;
  top: 0 !important;

}

